body {
  background-color: #abadbf;
  margin: 0;
  font-family: "Marvel", sans-serif;
}

p {
  font-size: 20px;
}

.navbar {
  height: 80px;
  background-color: #030104;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 2px -2px #444;
}

.main-container {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
  height: 100vh;
}

.second-container {
  background-color: #da5047;
  height: 100%;
  flex-direction: column;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: auto;
  color: white;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.card:hover {
  scale: 1.05;
}

.image-container {
  width: 65%;
  height: auto;
  border-radius: 40px;
}

.card-image {
  width: 100%;
  height: 15vw;
  object-fit: scale-down;
  border-radius: 20px;
}
